[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:Wentzell/oh-my-zsh
[submodule ".solarized/dircolors-solarized"]
	path = .solarized/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule ".jupyter/nbextensions/vim_binding"]
	path = .jupyter/nbextensions/vim_binding
	url = https://github.com/lambdalisue/jupyter-vim-binding
[submodule ".vim/autoload/vim-plug"]
	path = .vim/autoload/vim-plug
	url = https://github.com/junegunn/vim-plug
